﻿.todoItem 
{
    background: #FFF;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.todoContainer
{
    background: #CCF;
    margin:10px;
    border-radius: 25px;
    
}

.newTicket{
    background: #CCF;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}