﻿@model ToDoListApplication.Models.ToDoListModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div>
        <div class="col-md-10 newTicket">
            <form action="../../Home/AddItem" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="content">Description</label>
                    <input type="text" name="message" id="content" class="form-control" />
                </div>                                
                <div class="form-group">
                    <label for="file">Image</label><input type="file" id="file" name="file" />
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>



    <div class="col-md-5 todoContainer">
        <h3>Pending</h3>
        <div id="pendingList">
            @foreach (ToDoListApplication.Models.ToDoListItem item in Model.items.Where(x => x.isCompleted != true))
            {
                if (item.isDeleted) { continue; }
                <div class="todoItem">

                    <div id="item-@item.id">
                        <a href="../../Home/ToggleCompleteness/@item.id" class="glyphicon glyphicon-unchecked"></a> @item.content <a href="../../Home/SoftDelete/@item.id" style="float:right" class="glyphicon glyphicon-trash"></a>
                    </div>

                    @if (item.Image != null)
                    {
                        <div>
                            <a href="../../Home/RetrieveImage/@item.id">@item.imageName</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>


    <div class="col-md-5 todoContainer">
        <h3>Done</h3>
        @foreach (ToDoListApplication.Models.ToDoListItem item in Model.items.Where(x => x.isCompleted == true))
        {
            if (item.isDeleted) { continue; }
            <div class="todoItem">
                <div id="item-@item.id">
                    <a href="../../Home/ToggleCompleteness/@item.id" class="glyphicon glyphicon-check"></a> @item.content <a href="../../Home/SoftDelete/@item.id" style="float:right" class="glyphicon glyphicon-trash"></a>
                </div>
                @if (item.Image != null)
                {
                    <div>
                        <a href="../../Home/RetrieveImage/@item.id">@item.imageName</a>
                    </div>
                }
            </div>
        }
    </div>
</div>